body {
  margin: 0;
  padding: 0;
  background: rgb(63, 63, 63);
}

.container {
  background: green;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container li {
  list-style: none;
  margin-bottom: 20px;
}

.container h1 {
  margin: 0;
}

#countdown,
#exercise-name {
  font-size: 24px;
  color: #fff;
}
